<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XIVLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>
    <userSettings>
        <XIVLauncher.Properties.Settings>
            <setting name="isdx11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gamepath" serializeAs="String">
                <value />
            </setting>
            <setting name="language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="savedid" serializeAs="String">
                <value />
            </setting>
            <setting name="savedpw" serializeAs="String">
                <value />
            </setting>
            <setting name="autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setupcomplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expansionlevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="otprequired" serializeAs="String">
                <value>False</value>
            </setting>
        </XIVLauncher.Properties.Settings>
    </userSettings>
</configuration>
