<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XIVLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="XIVLauncherWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <XIVLauncher.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDx11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExpansionLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NeedsOtp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Addons" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="UniqueIdCache" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="UniqueIdCacheEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="RmtFilterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InGameAddonEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordFeatureConfiguration" serializeAs="String">
                <value />
            </setting>
        </XIVLauncher.Properties.Settings>
        <XIVLauncherWPF.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsDx11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExpansionLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NeedsOtp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </XIVLauncherWPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
