<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdysTech.CredentialManager" version="1.8.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net471" />
  <package id="Config.Net" version="4.14.23" targetFramework="net471" />
  <package id="Config.Net.Json" version="4.14.23" targetFramework="net471" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net471" />
  <package id="DiscordRichPresence" version="1.0.121" targetFramework="net471" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net462" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="Sentry" version="1.2.0" targetFramework="net471" />
  <package id="Sentry.PlatformAbstractions" version="1.0.0" targetFramework="net471" />
  <package id="Sentry.Protocol" version="1.0.6" targetFramework="net471" />
  <package id="Sentry.Serilog" version="1.2.0" targetFramework="net471" />
  <package id="Serilog" version="2.8.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Async" version="1.4.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net462" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net471" />
  <package id="Splat" version="1.6.2" targetFramework="net471" />
  <package id="squirrel.windows" version="1.9.1" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net471" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>